CONFIG_PACKAGE_luci-app-qmodem=m
CONFIG_PACKAGE_luci-app-qmodem_INCLUDE_generic-qmi-wwan=y
CONFIG_PACKAGE_luci-app-qmodem_INCLUDE_ndisc6=y
CONFIG_PACKAGE_luci-app-qmodem-sms=m
CONFIG_PACKAGE_luci-i18n-qmodem-sms-zh-cn=m
CONFIG_PACKAGE_luci-i18n-qmodem-zh-cn=m
CONFIG_PACKAGE_tom_modem=m
CONFIG_PACKAGE_tom_modem_EARLY_RETURN=y
CONFIG_PACKAGE_tom_modem_ENABLE_UBUS_DAEMON=y
CONFIG_PACKAGE_qmodem=m
CONFIG_PACKAGE_ubus-at-daemon=m
CONFIG_PACKAGE_sms-forwarder=m
CONFIG_PACKAGE_rdisc6=m
